.subject-button {
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #A31ACB;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 80px;
    margin: 10px;
}

.subject-button:hover {
    transform: scale(1.1);
}

.subject-button-clicked {
    transform: scale(1.1);
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: #A31ACB;
    background: white;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 80px;
    margin: 10px;
}

.go-back-button {
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #FF78F0;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 80px;
    margin: 5px;
    left: -50vh;
}

.go-back-button:hover {
    transform: scale(1.1);
}

.next-button {
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #FF78F0;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 80px;
    margin: 5px;
    right: -50vh;
}

.next-button:hover {
    transform: scale(1.1);
}

.start-earlier-button {
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #A31ACB;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 400px;
    height: 100px;
    margin: 10px;
}

.start-earlier-button:hover {
    transform: scale(1.1);
}

.start-earlier-button-clicked {
    transform: scale(1.1);
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: #A31ACB;
    background: white;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 400px;
    height: 100px;
    margin: 10px;
}

.one-below-another {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.invited-player-button {
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    color: white;
    background:  #A31ACB;
    letter-spacing: 0.05em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: fit-content;
    width: 200px;
    margin: 10px;
    border-radius: 40px;
}


.A-button {
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 28px;
    padding: 10px;
    color: black;
    background:  #F5EA5A;
    letter-spacing: 0.05em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 600px;
    height: 100px;
    margin-left: 20px;
    border-radius: 40px;
}

.A-button:hover {
    transform: scale(1.05);
}

.A-button-clicked {
    transform: scale(1.05);
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 28px;
    padding: 10px;
    color: black;
    background:  #A31ACB;
    letter-spacing: 0.05em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 600px;
    height: 100px;
    margin-left: 20px;
    border-radius: 40px;
}

.two-cols-contest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.confirm-button-contest {
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #A31ACB;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 80px;
    margin: 10px;
}

.confirm-button-contest:hover {
    transform: scale(1.1);
}

.confirm-button-contest-clicked {
    transform: scale(1.1);
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: #A31ACB;
    background: white;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 80px;
    margin: 10px;
}

.question-label {
    background: white;
    border-radius: 40px;
    margin: 20px;
    padding: 20px 40px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 60px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 20px;
    color: white;
    background: #A31ACB;
}

.popup-inner .close-btn:hover {
    transform: scale(1.1);
}

.popup-inner .popup-button {
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #A31ACB;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 80px;
    margin: 10px 20px;
}

.popup-inner .popup-button:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    align-items: flex-end;
}

.podium__item {
    width: 200px;
}

.podium__rank {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #fff;
}

.podium__city {
    text-align: center;
    padding: 0 .5rem;
}

.podium__number {
    width: 27px;
    height: 75px;
}

.podium .first {
    min-height: 300px;
    background: rgb(255,172,37);
    background:
            linear-gradient(333deg,
            rgba(255,172,37,1) 0%,
            rgba(254,207,51,1) 13%,
            rgba(254,224,51,1) 53%,
            rgba(255,172,37,1) 100%);
    font-size: 100px;
}

.podium .second {
    min-height: 200px;
    background: rgb(160, 160, 160);
    background:
            linear-gradient(333deg,
            rgb(216, 216, 215) 0%,
            rgb(248, 248, 247) 13%,
            rgb(218, 218, 217) 53%,
            rgb(162, 162, 160) 100%);
    font-size: 80px;
}

.podium .third {
    min-height: 100px;
    background: rgb(118, 74, 3);
    background:
            linear-gradient(333deg,
            rgb(179, 113, 6) 0%,
            rgb(164, 88, 4) 13%,
            rgb(171, 80, 8) 53%,
            rgb(211, 139, 21) 100%);
    font-size: 60px;
}

.podium-list {
    text-align: left;
}