.start-quiz {
    position: relative;
    display: inline;
    align-items: center;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: rgba(255, 120, 240, 0.84);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 80px;
    margin: 10px;
}

.lorem-quiz-text {
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: medium;
    border: 3px solid #FF78F0;
    box-shadow: 1px 2px 5px #3d1e3a;
}

.answer-button:hover {
    transform: scale(1.1);
}

.answer-button, .answer-button-clicked, .answer-right, .answer-fade, .confirm-button, .answer-wrong, .confirm-button-clicked {
    transition: all .5s ease;
    position: relative;
    display: inline;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 25px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(93, 78, 67, 0.6);
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 80px;
    margin: 10px;
}

.answer-button-clicked {
    color: #ff9900;
    background: #dcc39d;
}

.answer-button {
    color: white;
    background: #ff9900;
}

.answer-right {
    color: white;
    background: rgba(114, 225, 72, 0.5);
}

.answer-fade {
    color: white;
    background: rgb(255, 153, 0);
}

.answer-wrong {
    color: white;
    background: rgba(241, 25, 49, 0.5);
}

.confirm-button {
    color: #075d32;
    background: #ade8ca;
    padding: 0.6em 1em 0.6em 1em;
    width: 160px;
    height: 70px;
    margin: 10px;
}

.confirm-button-clicked {
    color: #ffffff;
    background: #a6a5a5;
    padding: 0.6em 1em 0.6em 1em;
    width: 160px;
    height: 70px;
    margin: 10px;
}

.timer {
    color: white;

}